/*Colors
Purple: #3b2c60, rgba(59,44,96)
Light Purple Grey: #e4e3fc, rgba(228,227,252)
*/

@charset "utf-8";
@font-face {
    font-family: 'clearsansregular';
    src: url('clearsans/ClearSans-Regular-webfont.eot');
    src: url('clearsans/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Regular-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clearsansmedium';
    src: url('clearsans/ClearSans-Medium-webfont.eot');
    src: url('clearsans/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Medium-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Medium-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clearsansbold';
    src: url('clearsans/ClearSans-Bold-webfont.eot');
    src: url('clearsans/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Bold-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

body {
    line-height: 1em;
    font-size: 1em;
    color: #000000;
    font-family: 'clearsansregular';
}

h1, h2, h3 {
    font-weight: normal;    
    font-family: 'clearsansbold';
    line-height: 1em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.1em;
}

p {
    line-height: 1.2em;
    font-size: 1em; 
    padding-bottom: 10px;
}

a {
    text-decoration: underline;
    color: #48377c;
}

a:visited {
  color: #000000;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #DDDDDD;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* Navigation Styles */

nav {
  width: 200px;
  float: left;
  border-right: solid #3b2c60 2px;
  background-color: #efeff4;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(59,44,96, 1);
}

nav h2 {
  padding: 5px 15px;
  font-size: 4em;
  text-shadow: -1px 0px 0px #FFFFFF, 1px 0px 0px #FFFFFF, 0px 1px 0px #FFFFFF, 0px -1px 0px #FFFFFF;
}

nav h2 span{
  position: relative;
  left: -15px;
  color: #3b2c60;
}

nav ul {
  list-style-type: none;
  font-size: 17px;
  line-height: 26px;
  font-family: 'clearsansbold';
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  width:170px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
}

nav ul li a:hover, nav .on {
  background-color: #3b2c60;
  color: #efeff4;
}

nav ul ul li a {
  border-left: solid #efeff4 5px;
  padding-left: 5px;
  margin-left: 20px;
  width: 140px;
}

nav ul ul li a:hover {
  background-color: #efeff4;
  color: #48377c;
  text-shadow: 0px 1px 0px #FFFFFF;
  border-left: solid #3b2c60 5px;
}

/* Main Content Styles */
#content {
  float: left;
  max-width: 900px;
	padding: 15px;
	overflow: hidden;
}

.button {
  padding: 6px;
  background-color: #3b2c60;
  color: #efeff4; 
  font-family: 'clearsansbold';
  display: inline-block;
  border: solid #3b2c60 2px;
}

.button:hover {
  background-color: #efeff4 ;
  color: #3b2c60; 
  font-family: 'clearsansbold';
  display: inline-block;
}

.box {
  background-color: #efeff4;
  padding: 10px;
  border: solid #3b2c60 2px;
  display: inline-block;
}