/*Colors
Dark Purple: #3b2c60, rgb(59,44,96)
Medium Purple: #7468a5, rgb(116,104,165)
Lighter Purple: #b0b0d1, rgb(176,176,209)
Lightest Purple Grey: #e4e3fc, rgb(228,227,252)
*/

/* Fonts */

@charset "utf-8";
@font-face {
    font-family: 'clearsansregular';
    src: url('clearsans/ClearSans-Regular-webfont.eot');
    src: url('clearsans/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Regular-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clearsansmedium';
    src: url('clearsans/ClearSans-Medium-webfont.eot');
    src: url('clearsans/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Medium-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Medium-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clearsansbold';
    src: url('clearsans/ClearSans-Bold-webfont.eot');
    src: url('clearsans/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Bold-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top: 1px solid #DDDDDD;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* General Styles */

body {
    line-height: 1em;
    font-size: 1em;
    color: #000000;
    font-family: 'clearsansregular';
}

h1, h2, h3 {
    font-weight: normal;    
    font-family: 'clearsansbold';
    line-height: 1em;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

b {
  font-weight: normal;    
  font-family: 'clearsansbold';
}

p {
    line-height: 1.2em;
    font-size: 1em; 
    margin-bottom: 10px;
    clear:both;
}

p:last-of-type {
    margin-bottom: 0px;
}

a {
    text-decoration: underline;
    color: #48377c;
}

a:visited {
  color: #7468a5;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

td {
  padding: 5px;
  vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #efeff4;
  }

dl {
  padding-top: 5px;
}

dt {
  width: 160px;
  float: left;
  padding-right: 30px;
  font-family: 'clearsansbold';
}

dd {
  width: 710px;
  float: left;
  clear: right;
  padding-bottom: 15px;
}

/* Navigation Styles */

nav {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid #3b2c60;
  background-color: #efeff4;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(59,44,96, 1);
  padding-bottom: 10px;
}

nav h2 {
  padding: 5px 15px;
  font-size: 4em;
  text-shadow: -1px 0px 0px #FFFFFF, 1px 0px 0px #FFFFFF, 0px 1px 0px #FFFFFF, 0px -1px 0px #FFFFFF;
}

nav p {
  padding: 15px 15px;
}

nav p a {
  text-decoration: none;
  padding-left: 4px;
  color: #3b2c60;
}

a:visited {
  color: #3b2c60;
}

nav h2 span{
  position: relative;
  left: -15px;
  color: #3b2c60;
}

nav ul {
  list-style-type: none;
  font-size: 17px;
  line-height: 26px;
  font-family: 'clearsansbold';
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  width:170px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
}

nav ul li a:visited {
  color: #000000;
}

nav ul li a:hover, nav .on, nav .on:visited, nav .onpage, nav .onpage:visited {
  background-color: #3b2c60;
  color: #efeff4;
}

nav ul ul li a {
  border-left: 5px solid #efeff4;
  padding-left: 5px;
  margin-left: 20px;
  width: 140px;
}

nav ul ul li a:hover, nav ul ul li .onpage, nav ul ul li .onpage:visited  {
  background-color: #efeff4;
  color: #48377c;
  text-shadow: 0px 1px 0px #FFFFFF;
  border-left: 5px solid #3b2c60;
}

/* Main Content Styles */
#content {
  max-width: 900px;
  margin-left: 210px;
	padding: 15px;
  padding-left: 20px;
	overflow: hidden;
}

.button {
  padding: 6px;
  background-color: #3b2c60;
  color: #efeff4; 
  font-family: 'clearsansbold';
  font-size: 17px;
  display: inline-block;
  border: 1px solid #3b2c60;
  line-height: 1em;
}

.button:hover {
  background-color: #efeff4 ;
  color: #3b2c60; 
}

div ul {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 16px;
}

div ul li {
  padding-bottom: 8px;
}

.box {
  display: inline-block;
  background-color: #e4e3fc;
  border-top: 1px solid #3b2c60;
  border-left: 1px solid #e4e3fc;
  border-right: 1px solid #e4e3fc;

}

.boxhead {
  padding: 10px;
  background-color: #FFFFFF;
  border-left: 1px solid #3b2c60;
  border-right: 1px solid #3b2c60;
}

.boxbody {
  padding: 10px;
}

/* Date Table Styles */

#preferences td, #meetings td {
    height: 30px;
    width: 30px;
    border-left: 1px solid #3b2c60;
  }

#preferences td.time, #meetings td.time {
    width: 90px;
    text-align: left;
    border: 0px;
  }

#preferences th, #meetings th {
    vertical-align: bottom;
    padding: 5px 3px;
    height: 15px;
    width: 30px;
    font-weight: normal;  
  }

#preferences .on,  #meetings .on {
    background-color: #3b2c60;
  } 
