@charset "utf-8";
@font-face {
    font-family: 'clearsansregular';
    src: url('clearsans/ClearSans-Regular-webfont.eot');
    src: url('clearsans/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Regular-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clearsansbold';
    src: url('clearsans/ClearSans-Bold-webfont.eot');
    src: url('clearsans/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearsans/ClearSans-Bold-webfont.woff') format('woff'),
         url('clearsans/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('clearsans/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

body {
    line-height: 1em;
    font-size: 1em;
    color: #000000;
    font-family: 'clearsansregular';
}

h1, h2, h3 {
    font-weight: normal;    
    font-family: 'clearsansbold';
    line-height: 1em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

p {
    line-height: 1.2em;
    font-size: 1em; 
}

a {
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #DDDDDD;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

nav {
	width: 210px;
    min-height: 700px;
	padding: 15px;
	float: left;
	border-right: solid #000000 2px;
    background-color: #DDDDDD;
}

nav ul li a {
    text-decoration: none;
}

#content {
    max-width: 900px;
	padding: 15px;
    float: left;
	overflow: hidden;
}